@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&family=Roboto:wght@300;400;700&display=swap');
@import url(https://fonts.googleapis.com/icon?family=Material+Icons+Outlined);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import "./reset.css";
@import "./variable.css";
@import "./nevigation-bar.css";
@import "./media-query.css";

}
*{
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    background-color: var(--background-purple);
    color: white;
}

input{
    border: none;
    outline: none;
    appearance: none;
}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.display-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.position-relative{
    position: relative;
}